/*-------------- emphasisBlock ---------------*/
.emphasisBlock {
  background-color: $brand-primary;
  color:#fff;
  padding:15vh 0;
}

.emphasisBlock h2 {
  margin-top:0;
  color:#fff;
}
