#projectSpecs {
  background-color: #233A86;
  padding:110px 0 60px 0;
  margin-top: -100px;
}

#projectSpecs p, #projectSpecs h4 {
  color:#fff;
}

#projectSpecs p {
  font-size: 15px;
}

.projectItem {
  min-height:120px;
}
